{% extends 'base.html' %}
{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
<h3>Changer le mot de passe</h3>
{% if recaptcha_error %}
    <div class="alert alert-danger">{{ recaptcha_error }}</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="g-recaptcha mb-3" data-sitekey="VOTRE_CLE_SITE_RECAPTCHA"></div>
    <button type="submit" class="btn btn-danger">Changer</button>
</form>
<!-- Google reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
